<div *ngIf="status">
  <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
    <ion-thumbnail slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <ion-skeleton-text animated style="width: 110%"></ion-skeleton-text>
      <p class="cod"><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </p>
    </ion-label>
    <ion-label slot="end" class="ion-text-right">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
    </ion-label>
  </ion-item>  
</div>



<!---skeleton client-->
<div *ngIf="!status">
  <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
    <ion-avatar class="ion-margin">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
</div>