<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
 <ion-item lines="none">
   <ion-label class="title">Configuración de perfil</ion-label>
 </ion-item>

 <ion-item detail button [routerLink]="['/reset-password']">
   <ion-label>Cambiar contraseña</ion-label>
 </ion-item>

 <ion-item detail button [routerLink]="['/update-user']">
  <ion-label>Actualizar datos de usuario</ion-label>
</ion-item>

<br>
<ion-item lines="none">
  <ion-label class="title">información</ion-label>
</ion-item>

<ion-item detail button [routerLink]="['/comment']">
  <ion-label>Enviar queja o comentario</ion-label>
</ion-item>

<ion-item detail button [routerLink]="['/about']">
 <ion-label>Acerca de la aplicación</ion-label>
</ion-item>

<div class="detail">
  <p>{{email | uppercase}}</p>
   <ion-button (click)="logout()" color="primary" expand="block" fill="clear" shape="round">
     Cerrar Sesión
   </ion-button>
</div>
</ion-content>
