ion-header{
    background-color: #2996cc !important;
    height: 40% !important;
}

.header{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 15% !important;
}


.header ion-icon {
font-size: 100px;
}

.form{
   margin-top: 20px !important;
}

ion-button{
    height: 50px;
    width: 95%;
    margin: auto;
}

p{
    text-align: center !important;
    font-size: 15px;
}