<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.nombre_producto}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content ion-margin">
  <ion-item class="title" lines="none">
    <ion-label>PRECIOS</ion-label>
    <ion-button *ngIf="!change_price" (click)="changePrice(true)" color="dark" class="buttonC" slot="end" size="small">precios mínimos</ion-button>
    <ion-button *ngIf="change_price"  (click)="changePrice(false)" color="dark" class="buttonC" slot="end" size="small">precios normales</ion-button>
  </ion-item>

<div *ngIf="!change_price">
  <ion-item *ngIf="product.precio1 !=0" id="item1" (click)="selectPrice(1, product.precio1, product.unidad1)" class="box" lines="none" color="none">
    <ion-label>Precio 1
      <p>{{product.unidad1}}</p>
    </ion-label>
    <ion-label class="ion-text-right" slot="end">RD${{product.precio1}}</ion-label>
  </ion-item>

  <ion-item id="item2" *ngIf="product.precio2 !=0" (click)="selectPrice(2, product.precio2, product.unidad2)" class="box" lines="none" color="none">
      <ion-label>Precio 2    
        <p>{{product.unidad2}}</p>
      </ion-label> 
      <ion-label class="ion-text-right" slot="end">RD${{product.precio2}}</ion-label>
  </ion-item>

  <ion-item id="item2" *ngIf="product.precio2 == 0" class="box" style="background-color:lightgrey" lines="none" color="none">
    <ion-label>Precio 2     
      <p>NO TIENE</p>
    </ion-label>
    <ion-label class="ion-text-right" slot="end">RD$0.00</ion-label>
</ion-item>

  <ion-item *ngIf="product.precio3!=0" id="item3" (click)="selectPrice(3, product.precio3, product.unidad3)" class="box" lines="none" color="none">
    <ion-label>Precio 3
      <p>{{product.unidad3}}</p>
    </ion-label>
    <ion-label class="ion-text-right" slot="end">RD$ {{product.precio3}}</ion-label>
  </ion-item>

  
  <ion-item *ngIf="product.precio3 ==0" id="item3" style="background-color:lightgrey" class="box" lines="none" color="none">
    <ion-label>Precio 3
      <p>NO TIENE</p>
    </ion-label>
    <ion-label class="ion-text-right" slot="end">RD$0.00</ion-label>
  </ion-item>
</div>


  <!--minimal prices--> 
  <div *ngIf="change_price">
    <!---Not price-->
    <ion-item *ngIf="product.precio_minimo1 == 0" id="item1" class="box" lines="none" color="none">
      <ion-label style="text-align:center">No hay precios que mostrar</ion-label>
    </ion-item>

    <ion-item *ngIf="product.precio_minimo1 != 0" id="item1" (click)="selectPrice(4, product.precio_minimo1, product.unidad1)" class="box" lines="none" color="none">
      <ion-label>Precio mínimo 1
        <p>{{product.unidad1}}</p>
      </ion-label>
      <ion-label class="ion-text-right" slot="end">RD${{product.precio_minimo1}}</ion-label>
    </ion-item>
  
    <ion-item *ngIf="product.precio_minimo2 != 0" id="item2" (click)="selectPrice(5, product.precio_minimo2, product.unidad2)" class="box" lines="none" color="none">
      <ion-label>Precio mínimo 2
        <p>{{product.unidad2}}</p>
      </ion-label>
      <ion-label class="ion-text-right" slot="end">RD${{product.precio_minimo2}}</ion-label>
    </ion-item>

    <ion-item *ngIf="product.precio_minimo2 == 0" id="item2" style="background-color:lightgrey" class="box" lines="none" color="none">
      <ion-label>Precio mínimo 2
        <p>NO TIENE</p>
      </ion-label>
      <ion-label class="ion-text-right" slot="end">RD$0.00</ion-label>
    </ion-item>
  
    <ion-item *ngIf="product.precio_minimo3 != 0" id="item3" (click)="selectPrice(6, product.precio_minimo3, product.unidad3)" class="box" lines="none" color="none">
      <ion-label>Precio mínimo 3
        <p>{{product.unidad3}}</p>
      </ion-label>
      <ion-label class="ion-text-right" slot="end">RD$ {{product.precio_minimo3}}</ion-label>
    </ion-item>

    <ion-item *ngIf="product.precio_minimo3 == 0" id="item3" style="background-color:lightgrey" class="box" lines="none" color="none">
      <ion-label>Precio mínimo 3
        <p>NO TIENE</p> 
      </ion-label>
      <ion-label class="ion-text-right" slot="end">RD$0.00</ion-label>
    </ion-item>
  </div>
 

  <ion-item class="title" lines="none">
    <ion-label>NOTA Y CANTIDAD</ion-label>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="note" type="text" placeholder="Agregar Nota"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col (click)="decrement()" class="ion-activatable ripple-parent" size="4">
      <h1>-</h1>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
    <ion-col size="4">
      <h1>{{cant}}</h1>
    </ion-col>
    <ion-col (click)="increment()" class="ion-activatable ripple-parent" size="4">
      <h1>+</h1>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-col>
  </ion-row>
<br>
  <ion-button (click)="saveProduct()" color="dark" expand="block">
    AGREGAR PRODUCTO
  </ion-button>
</div>
</ion-content>
