.display{
    width: 95% !important;
    height: 50px;
    border: white;
    background-color: #2996cc;
    margin-left: 9px;
    margin-top: 20px;
    text-align: center !important;
    font-size: 25px;
    color: white;
}