ion-header{
    background-color:#f4f5f8 !important;   
}

ion-thumbnail{
    text-align: center;
    background-color: #cac9ce;
    color: white;
    font-size: 30px;
  }
  
  ion-thumbnail p{
  font-size: 4px;
  color: #cac9ce;
  }
  
  .cod{
     color: red !important;
  }
  