<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="ion-margin">
    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input type="email" [(ngModel)]="data.email" matInput placeholder="Nueva contraseña" required>
    </mat-form-field>

    
    <mat-form-field appearance="outline">
      <mat-label>Nueva contraseña</mat-label>
      <input type="password" [(ngModel)]="data.password1" matInput placeholder="Nueva contraseña" required>
    </mat-form-field>
  
  
    <mat-form-field appearance="outline">
      <mat-label>Repite contraseña</mat-label>
      <input type="password" [(ngModel)]="data.password2"  matInput placeholder="Repite contraseña" required>
    </mat-form-field>

    <ion-button (click)="updatePassword()" color="dark" expand="block">
      ACTUALIZAR
    </ion-button>
  </div>
</ion-content>
